.card-img-top {
    aspect-ratio: 4/3;
    width:100%;
    object-fit: cover;
}

.logo{
    width: 100px;
}

.scroller {
    text-align: left;
    overflow-x: scroll;
    box-sizing: border-box;
    scroll-snap-type: x mandatory;
}

.scroller div {
    width: 18rem;
    min-width: 300px;
    margin: 10px 10px;
}

